<header>
  <nav class="navbar is-danger">
        <img src="/stylesheets/images/Expense-tracker.png" alt="Bulma: a modern CSS framework based on Flexbox" width="65" height="62">
     
      <div class="navbar-burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/login" id = "homeTab" class="navbar-item has-text-weight-bold" >
            TRACK SAVER
          </a>
        <a id = "homeTab" class="navbar-item" >
          Home
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" >
            Menu
          </a>
          <div class="navbar-dropdown is-boxed">
            {{!-- <a id = "searchHistoryTab" class="navbar-item" href="#searchHistory">
              Welcome user
            </a>
            <a id = "trendingVideosTab" class="navbar-item" href="#trendingPage">
              Settings
            </a> --}}
            <hr class="navbar-divider">
            <a class="navbar-item" href="" id="logout">
              Sign Out
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="radar">
    <h1>Save today, secure tomorrow!</h1>
  </div>
</header>