<header>
  <nav class="navbar is-danger">
        <img src="/stylesheets/images/Expense-tracker.png" alt="Bulma: a modern CSS framework based on Flexbox" width="65" height="62">
     
      <div class="navbar-burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a id = "homeTab" class="navbar-item has-text-weight-bold" >
            TRACK SAVER
          </a>
         <a id = "homeTab" class="navbar-item" href="/" >
            Login
          </a>
       
       
        
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="radar">
    <h1>Save today, secure tomorrow!</h1>
  </div>
</header>