
  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font Awesome -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <!-- Bulma -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css" />

    <title>Track_Saver</title>
  </head>

<body>
  <!-- Navigation -->



{{{body}}}
</body>



    
        <footer class="footer">
            <div class="content has-text-centered">
              <p>
                <strong>Track Saver</strong> by <a href="https://github.com/priyakumi">Priya Kumaran, <a href="https://github.com/fabioesilveira">Fabio Silveira,</a> <a href="">Jordan Woodruff,</a> <a href=""> and Lolito Banano</a> 
                  © 2023 
              </p>
            </div>
          </footer>


</body>

</html>

