
  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font Awesome -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- Include SweetAlert2 JavaScript from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Include Handlebars library from a CDN -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
   
    <!-- Bulma -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css" />

    <title>Track_Saver</title>
  </head>

<body>
  <!-- Navigation -->
{{{body}}}
</body>
        <footer class="footer">
            <div class="content has-text-centered">
              <p>
                <strong>© 2023 Track Saver</strong> by <a href="https://github.com/priyakumi" target="_blank">Priya Kumaran, <a href="https://github.com/fabioesilveira" target="_blank">Fabio Silveira,</a> <a href="https://github.com/Pokepoison?tab=repositories">Jordan Woodruff,</a> <span>&</span> <a href="https://github.com/hyperlitz" target="_blank">Lolito Banano</a>.
              </p>
            </div>
          </footer>
  <script src="../../js/logout.js"></script>
</body>
</html>

