{{>nav-dash}}


<div class="columns">
    <div class="column is-one-third">
        
        
      
    <div id = "mainCards">
      <div class="cardYT card">
        <div class="card-content">
          <!-- Search Display -->
          <div class="field">
            <h4 class="title is-5 has-text-grey-dark">CALENDAR 2023</h4>
          </div>
          <button class="button is-medium is-fullwidth is-danger is-outlined">January</button>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">February</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">March</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">April</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">May</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">June</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">July</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">August</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">September</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">Octuber</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">November</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined">December</button></p>
          
          
        
            
          
            </div>
          </div>
        
       
       
          
          
        
       
          
          
            
            
            
          
                  
            </div>
            
          
       
              <div>
                
              </div>
        
            </div>
            
            <div class="column">
                <div class="card">
                    <div class="card-content">
                      <div class="content">
                        <div class="level is-mobile">
                            <div class="level-item has-text-centered">
                              <div>
                                <p class="heading">Income</p>
                                <p id="viewCountVideo" class="title">0</p>
                              </div>
                            </div>
                            <div class="level-item has-text-centered">
                              <div>
                                <p class="heading">Expenses</p>
                                <p id="uploadCountVideo" class="title">0</p>
                              </div>
                            </div>
                            <div class="level-item has-text-centered">
                              <div>
                                <p class="heading">Total left</p>
                                <p id="likesVideo" class="title">0</p>
                              </div>
                      </div>
                  </div>
                  <hr>
                  <div class="select is-danger">
                    <select>
                      <option>Select Income</option>
                      <option>Job Income</option>
                      <option>Rental Income</option>
                      <option>Child Support</option>
                      <option>Part-time job</option>
                    </select> 
                  </div> 
                  
                    <div id="space" class="select is-danger">
                        <select>
                          <option>Select Expense</option>
                          <option>Rent</option>
                          <option>Credit card</option>
                          <option>Utilities</option>
                          <option>Food</option>
                          <option>School tuition</option>
                          <option>Car payment</option>
                          <option>Loan</option>
                          <option>Phone bill</option>
                          <option>Others</option>

                        </select>
                      </div>
                
                  
                  <hr>
                  <div class="field has-addons has-addons-centered">
                    <p class="control">
                      <span class="select is-danger">
                        <select>
                          <option>$</option>
                        </select>
                      </span>
                    </p>
                    <p class="control is-danger">
                      <input class="input is-danger" type="text" placeholder="Amount of money">
                    </p>
                    <p class="control">
                      <a class="button is-primary is-danger">
                        Enter
                      </a>
                    </p>
                  </div>
                  <hr>
                  
                  <textarea class="textarea is-danger" placeholder="10 lines of textarea" rows="10"></textarea>
                  <hr>
                  <div id="footer3" class="card">
                    <footer class="card-footer">
                      <a href="#" class="card-footer-item">Save</a>
                      <a href="#" class="card-footer-item">Edit</a>
                      <a href="#" class="card-footer-item">Reset</a>
                    </footer>
                  </div>
                    </div>
                      </div>
                    </div>
                    
                  </div>
               
           
          </div>