<div>
  <h1>My Form</h1>
  <form>
   <br> <label for="loan">Loan:</label><br>
   <input type="number" id="loan"><br>
   <br>  <label for="rent">Rent:</label><br>
    <input type="number" id="rent" ><br>
    <br> <label for="gas">Gas</label><br>
    <input type="number" id="gas"><br>
    <br> <label for="medical">Medical:</label><br>
    <input type="number" id="medical" >
    <br> <label for="car">Car:</label>
    <input type="number" id="car">
    <br> <label for="others">Others:</label>
    <input type="number" id="other" >
    <br> <label for="month">Month in numbers(0-12):</label>
    <input type="number" id="month">

    <br> <input type="submit" value="Submit">
  </form>
</div>