      <div class="cardYT card">
        <div class="card-content">
          <!-- Search Display -->
          <div class="field">
            <p class="heading">Search YouTube Users</p>
            <form id = "search-form" class="control">
              <input id = "search-input" class="input" type="text" placeholder="Enter user..">
            </form>
          </div>
          <hr>
          <!-- Content Display -->
          <div class="media">
            <!-- Avatar Image -->
            <div class="media-left">
              <figure class="image is-52x52">
                <img id ="avatarYT" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <!-- Account Display -->
            <div class="media-content">
              <p id = "userNameYT" class="title is-2">Youtube Name</p>
              <p id = "account" class="subtitle is-5">YouTube Account</p>
            </div>
          </div>
        <!-- User Stats -->
        <div class="level is-mobile">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Views</p>
              <p id="viewCount" class="title">0</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Uploads</p>
              <p id="uploadCount" class="title">0</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Subscribers</p>
              <p id="followers" class="title">0</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">User Since</p>
              <p id="joinDate" class="title">0</p>
            </div>
          </div>
        </div>
        <hr>
        <!-- User Activities -->
        <div>
          <p class="title is-4">User's Most Recent Uploads: </p>
          <div id = "recentUploadsYT">
            <button class="button is-fullwidth is-light">Video Title</button>
          </div>
          <hr>
          <div class="media">
            <div class="media-left">
              <figure class="image is-62x62">
                <img id = "videoThumbnail" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p id = "videoTitle" class="title is-4">Video Title</p>
            </div>
            <div class = "media-right">
                <a id ="videoLink" href = "#">
                  <button class="button is-link is-light">Watch the Video!</button>
                </a>    
            </div>
          </div>
          <div class="level is-mobile">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Views</p>
                <p id="viewCountVideo" class="title">0</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Comments</p>
                <p id="uploadCountVideo" class="title">0</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Likes</p>
                <p id="likesVideo" class="title">0</p>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>