{{>nav-home}}

<p class="mb-15">
<div class="columns is-mobile">
    <div class="column"></div>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <form class="box">
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input id="email" class="input" type="email" placeholder="e.g. alex@example.com">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input id="password" class="input" type="password" placeholder="********">
                            </div>
                        </div>

                        <button id="login" class="button is-primary is-danger">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="footer1" class="column"></div>
</div>
</p>

<script src="/js/login.js"></script>

